@use "sass:math";

$radius: 0.25rem;
$margin: 1rem;
$max-width: 70vw;
$padding: math.div(100vw - $max-width, 2);
$border: 2px;
$mobile-breakpoint: 768px;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #002b36;
    --background-secondary: #073642;
    --text: #839496;
    --text-secondary: #586e75;
    --text-emphasized: #93a1a1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fdf6e3;
    --background-secondary: #eee8d5;
    --text: #657b83;
    --text-secondary: #93a1a1;
    --text-emphasized: #586e75;
  }
}

:root {
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

body {
  background-color: var(--background);
  color: var(--text);

  #wrapper {
    background-color: var(--background);
    padding-left: $padding;
    padding-right: $padding;

    @media (max-width: $mobile-breakpoint) {
      padding-left: math.div($padding, 3);
      padding-right: math.div($padding, 3);
    }
  }
}

a {
  text-decoration: none;

  &:link {
    color: var(--blue);
  }

  &:hover,
  &:visited {
    color: var(--violet);
  }
}

::selection {
  background-color: var(--blue);
  color: white;
}

hr {
  background-color: var(--text-secondary);
  margin-top: $margin;
  margin-bottom: $margin;
  border: 0;
  height: $border;
}

time {
  color: var(--text-secondary);
}

header {
  a,
  a:hover,
  a:visited {
    color: var(--text-emphasized);
  }

  nav {
    margin-top: 10px;

    a.link {
      color: var(--text-emphasized);
      text-decoration: none;
      display: inline-block;
      position: relative;

      &:after {
        background-color: var(--text-emphasized);
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: $border;
        bottom: 0;
        left: 0;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}

.content {
  a {
    text-decoration: none;
  }

  table {
    margin: auto;
    background-color: var(--background);
    border-collapse: collapse;
    border: none;
    margin-top: 0;
    margin-bottom: $margin;

    th {
      background: var(--background-secondary);
      color: var(--text-emphasized);
    }
  }

  blockquote {
    background: var(--background-secondary);
    border-color: var(--text);
    border-radius: $radius;
    padding-right: 2rem;
  }

  pre {
    background-color: var(--background-secondary) !important;
    position: relative;
    border-radius: $radius;
  }

  code {
    background-color: var(--background-secondary);
    color: var(--text);
  }

  mark {
    background-color: var(--background-secondary);
    color: var(--text-emphasized);
    border-radius: $radius;
    padding-left: 5px;
    padding-right: 5px;
  }

  kbd {
    background-color: var(--background-secondary);
    color: var(--text-emphasized);
    border-radius: $radius;
  }
}

main {
  display: flex;
  padding: 0 !important;
  margin-left: $margin;
  margin-right: $margin;

  &#main {
    max-width: 100%;

    .post-heading {
      text-align: center;

      .publish-date {
        color: var(--text-secondary);
        font-size: large;
        padding-top: math.div($margin, 2);
      }
    }

    .toc {
      background-color: var(--background-secondary);
      border: math.div($border, 2) dashed var(--text-secondary);
      border-radius: $radius;

      #TableOfContents a {
        text-decoration: none;
        color: var(--text);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .numbered-subtitles {
      color: var(--text);
    }

    &.archive {
      padding: 0;

      .post-group {
        ul {
          border-left-color: var(--text-secondary);
          border-left-width: $border;
        }

        a {
          text-decoration: none;
          transition: text-decoration 0.3s ease;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: $margin * 2;

    @media (max-width: $mobile-breakpoint) {
      grid-template-columns: 1fr;
    }

    .sidebar {
      flex: 1;

      @media (max-width: $mobile-breakpoint) {
        order: 1;
      }

      h3.taxonomy > a {
        color: var(--text);

        &:visited {
          color: var(--text);
        }

        &:hover {
          color: var(--text-emphasized);
        }
      }

      ul {
        list-style: none;
        padding: 0;
        border-color: var(--text-secondary);
        display: block;
        padding: math.div($margin, 2);
        margin-top: math.div($margin, 2);
        margin-bottom: math.div($margin, 2);
        border: $border solid;
        border-radius: $radius;

        li a {
          text-decoration: none;
          display: block;
          padding: 2px 12px;
          color: var(--text);
          transition: color 0.3s, background-color 0.3s;

          &:hover {
            color: var(--text-emphasized);
            background-color: var(--background-secondary);
            border-radius: $radius;
          }
        }
      }
    }
  }
}

footer {
  color: var(--text-secondary);
  margin-top: $margin;
}

.icon {
  padding-right: 0.1em;
  padding-left: 0.1em;
}

.row {
  margin-left: 2rem;
}

#searchbox {
  margin-top: 0;
  margin-bottom: $margin;

  #ddgSearch > input {
    color: var(--text-emphasized);
    background-color: var(--background-secondary);
    font-family: "Latin Modern Roman", "Times New Roman", serif;
    padding-left: 8px;
    width: 200px;
    height: 1.5rem;
    border: $border solid var(--text-secondary);
    border-radius: $radius;

    &:focus {
      outline: $border solid var(--text-emphasized);
    }
  }
}

button.copyButton {
  background-color: var(--background);
  color: var(--text-emphasized);
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0.7;
  border: none;
  padding: 5px 10px;
  border-radius: $radius;
  cursor: pointer;
  font-size: 14px;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}

.book-container {
  clear: both;
}

.book-container > img {
  margin-left: 50px;
}
