:root {
  --bg: #fdf6e3;
  --bg_s: #eee8d5;
  --fg: #657b83;
  --fg4: #93a1a1;
  --fg1: #586e75;
}

.darkmode {
  --bg: #002b36;
  --bg_s: #073642;
  --fg: #839496;
  --fg4: #586e75;
  --fg1: #93a1a1;
}

:root {
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}
