@use "sass:math";

$radius: 0.25rem;
$margin: 1rem;
$max-width: 70vw;
$padding: math.div(100vw - $max-width, 2);
$border: 2px;
$mobile-breakpoint: 768px;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #002b36;
    --background-secondary: #073642;
    --text: #839496;
    --text-secondary: #586e75;
    --text-emphasized: #93a1a1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fdf6e3;
    --background-secondary: #eee8d5;
    --text: #657b83;
    --text-secondary: #93a1a1;
    --text-emphasized: #586e75;
  }
}

:root {
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}
