@media (prefers-color-scheme: dark) {
  :root {
    --background: #002b36;
    --background-secondary: #073642;
    --text: #839496;
    --text-secondary: #586e75;
    --text-emphasized: #93a1a1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fdf6e3;
    --background-secondary: #eee8d5;
    --text: #657b83;
    --text-secondary: #93a1a1;
    --text-emphasized: #586e75;
  }
}

:root {
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

main {
  --color-prettylights-syntax-comment: #8b949e;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-variable: #ffa657;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
  --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
  --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
  --color-prettylights-syntax-carriage-return-text: #f0f6fc;
  --color-prettylights-syntax-carriage-return-bg: #b62324;
  --color-prettylights-syntax-string-regexp: #7ee787;
  --color-prettylights-syntax-markup-list: #f2cc60;
  --color-prettylights-syntax-markup-heading: #1f6feb;
  --color-prettylights-syntax-markup-italic: #c9d1d9;
  --color-prettylights-syntax-markup-bold: #c9d1d9;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
  --color-prettylights-syntax-markup-deleted-bg: #67060c;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4;
  --color-prettylights-syntax-markup-inserted-bg: #033a16;
  --color-prettylights-syntax-markup-changed-text: #ffdfb6;
  --color-prettylights-syntax-markup-changed-bg: #5a1e02;
  --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
  --color-prettylights-syntax-markup-ignored-bg: #1158c7;
  --color-prettylights-syntax-meta-diff-range: #d2a8ff;
  --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
  --color-btn-text: var(--text);
  --color-btn-bg: var(--background);
  --color-btn-border: var(--text);
  --color-btn-shadow: 0 0 #0000;
  --color-btn-inset-shadow: 0 0 #0000;
  --color-btn-hover-bg: #30363d;
  --color-btn-hover-border: #8b949e;
  --color-btn-active-bg: red;
  --color-btn-active-border: #6e7681;
  --color-btn-selected-bg: #red;
  --color-btn-primary-text: #fff;
  --color-btn-primary-bg: var(--green);
  --color-btn-primary-border: #f0f6fc1a;
  --color-btn-primary-shadow: 0 0 #0000;
  --color-btn-primary-inset-shadow: 0 0 #0000;
  --color-btn-primary-hover-bg: var(--yellow);
  --color-btn-primary-hover-border: #f0f6fc1a;
  --color-btn-primary-selected-bg: var(--green);
  --color-btn-primary-selected-shadow: 0 0 #0000;
  --color-btn-primary-disabled-text: #ffffff80;
  --color-btn-primary-disabled-bg: #23863699;
  --color-btn-primary-disabled-border: #f0f6fc1a;
  --color-action-list-item-default-hover-bg: #b1bac41f;
  --color-segmented-control-bg: var(--background-secondary);
  --color-segmented-control-button-bg: var(--background);
  --color-segmented-control-button-selected-border: var(--text);
  --color-fg-default: var(--text);
  --color-fg-muted: var(--text-secondary);
  --color-fg-subtle: var(--text-secondary);
  --color-canvas-default: var(--background-secondary);
  --color-canvas-overlay: var(--background);
  --color-canvas-inset: var(--background);
  --color-canvas-subtle: var(--background);
  --color-border-default: var(--text);
  --color-border-muted: var(--text-secondary);
  --color-neutral-muted: var(--text-secondary);
  --color-accent-emphasis: var(--blue);
  --color-accent-muted: var(--cyan);
  --color-accent-subtle: var(--violet);
  --color-success-fg: var(--green);
  --color-attention-fg: var(--red);
  --color-attention-muted: var(--magenta);
  --color-attention-subtle: var(--yellow);
  --color-danger-fg: var(--red);
  --color-danger-muted: var(--magenta);
  --color-danger-subtle: var(--yellow);
  --color-primer-shadow-inset: 0 0 #0000;
  --color-scale-gray-7: var(--text-secondary);
  --color-scale-blue-8: var(--blue);
  --color-social-reaction-bg-hover: var(--color-scale-gray-7);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);

  /*! Extensions from @primer/css/alerts/flash.scss */
  --color-social-reaction-bg-hover: var(--color-scale-gray-7);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}

main .pagination-loader-container {
  background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg");
}

main .gsc-loading-image {
  background-image: url("https://github.githubassets.com/images/mona-loading-dark.gif");
}
