:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--base03);
    color: var(--base0);
  }

  #wrapper {
    background-color: var(--base03);
  }

  #main .toc {
    background-color: var(--base02);
  }

  blockquote {
    background: var(--base02);
  }

  .content pre {
    background-color: var(--base02) !important;
    color: var(--base0);
  }

  code {
    background-color: var(--base02) !important;
    color: var(--base1) !important;
  }

  button.copyButton {
    background-color: var(--base03);
    color: var(--base1);
  }

  a:link {
    color: var(--blue);
  }
  a:visited {
    color: var(--violet);
  }
  a:hover {
    color: var(--violet);
  }

  nav a {
    color: var(--base1) !important;
  }
  nav a:after {
    background-color: var(--base0);
  }

  h2 a {
    color: var(--base1) !important;
  }
  header a:hover,
  header a:visited,
  header .current a {
    color: var(--base1);
  }

  table {
    margin: auto;
    background-color: var(--base03);
    border-top: 1px solid var(--base0);
    border-bottom: 1px solid var(--base0);
  }
  table thead th {
    border-bottom: 1px solid var(--base0);
  }
  th {
    background: var(--base02) !important;
    color: var(--base1) !important;
  }
  th,
  td {
    padding: 5px;
  }

  .nav-list {
    border-color: var(--base01);
  }

  .sidebar ul li a {
    color: var(--base0);
  }

  .sidebar ul li a:hover {
    color: var(--base1);
    background-color: var(--base02);
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--base3);
    color: var(--base00);
  }

  h1,
  h2,
  h3 {
    color: var(--base01);
  }

  #wrapper {
    background-color: var(--base3);
  }

  #main .toc {
    background-color: var(--base2);
  }

  blockquote {
    background: var(--base3);
  }

  a:link {
    color: var(--blue);
  }
  a:visited {
    color: var(--violet);
  }
  a:hover {
    color: var(--violet);
  }

  nav a:after {
    background-color: var(--base00);
  }

  button.copyButton {
    background-color: var(--base3);
    color: var(--base01);
  }

  header {
    background: var(--base3);
  }
  h2 a {
    color: var(--base01) !important;
  }
  header a:hover,
  header a:visited,
  header .current a {
    color: var(--base01);
  }

  .content pre {
    background-color: var(--base2) !important;
    color: var(--base00);
  }

  code {
    background-color: var(--base2) !important;
    color: var(--base01) !important;
  }

  table {
    margin: auto;
    border-top: 1px solid var(--base00);
    border-bottom: 1px solid var(--base00);
  }
  table thead th {
    border-bottom: 1px solid var(--base00);
  }
  th {
    background: var(--base2) !important;
    color: var(--base01) !important;
  }
  th,
  td {
    padding: 5px;
  }

  .nav-list {
    border-color: var(--base1);
  }

  .sidebar ul li a {
    color: var(--base00);
  }

  .sidebar ul li a:hover {
    color: var(--base01);
    background-color: var(--base2);
  }
}

hr {
  margin-top: 20px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
}

pre {
  position: relative;
}

button.copyButton {
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0.7;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: opacity 0.3s;
}

button.copyButton:hover {
  opacity: 1;
}

#wrapper {
  padding-left: 0;
}

.main-content {
  flex: 1;
  max-width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 300px;

  @media (max-width: 768px) {
    padding-left: 0;
    margin: 20px;
  }
}

nav a {
  text-decoration: none !important;
  display: inline-block;
  position: relative;
}

nav a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-list {
  display: block;
  padding: 10px 15px;
  margin: 10px 5px;
  margin-left: -5px;
  border: 2px solid;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

main {
  display: flex;
}

.index {
  flex: 3;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 20px;
}

.sidebar {
  flex: 1;
  padding-top: 20px;
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .sidebar {
    order: 1;
  }

  .index {
    padding-left: 30px;
  }
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li a {
  text-decoration: none;
  display: block;
  padding: 2px 12px;
  transition: color 0.3s, background-color 0.3s;
}
