/* Imports*/
@import url("colors.css");
@import url("https://fonts.googleapis.com/css?family=Fira+Code");

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg);
  }

  blockquote {
    background: var(--dark-secondary-bg);
  }

  a {
    color: var(--light-blue);
  }
  
  a:visited {
    color: var(--cyan);
  }

  a:hover {
    color: var(--pink);
    opacity: 0.9;
  }

  header {
    background: var(--light-blue);
    border-bottom: 0px;
  }

  .article-meta,
  .menu a {
    background: var(--dark-secondary-bg);
    color: white;
  }

  table {
    margin: auto;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
  }
  table thead th {
    border-bottom: 1px solid var(--gray);
  }
  th,
  td {
    padding: 5px;
  }
  tr:nth-child(even) {
    background: var(--dark-secondary-bg);
  }
  
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-bg);
    color: var(--text);
  }

  blockquote {
    background: var(--light-secondary-bg);
  }

  a {
    color: var(--dark-blue);
  }

  a:visited {
    color: var(--pink);
  }

  a:hover {
    color: var(--cyan);
    opacity: 0.9;
  }

  a:active {
    color: var(--pink);
  }

  header {
    background: var(--dark-blue);
  }

  .article-meta,
  .menu a {
    background: var(--light-secondary-bg);
    color: black;
  }

  table {
    margin: auto;
    border-top: 1px solid var(--brown);
    border-bottom: 1px solid var(--brown);
  }
  table thead th {
    border-bottom: 1px solid var(--light-brown);
  }
  th,
  td {
    padding: 5px;
  }
  tr:nth-child(even) {
    background: var(--light-bg);
  }
}

body {
  max-width: 1000px;
  margin: auto;
  padding: 0.2em;
  line-height: 1.5em;
}

h1 {
  line-height: 1.5em;
}

h2#date {
    line-height: 0.5em;
    opacity: 0.7;
}

#TableOfContents,
#TOC {
  border: 1px solid var(--light-brown);
  border-radius: 5px;
}

/* Header and Footer */
.menu li {
  display: inline-block;
}
.article-meta,
.menu a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
}

.terms {
  font-size: 0.9em;
}
.article-meta {
  font-size: 90%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.menu,
footer {
  text-align: center;
  font-size: 90%;
  opacity: 0.6;
}
.title {
  font-size: 1.1em;
}
footer a {
  text-decoration: none;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/* Adjust background at your leisure! */
header {
  position: relative;
  width: 100%;
  height: 1.75rem;
  font-size: 1rem;
}

header ul,
header ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav {
  padding: 0 0.5rem;
}

header a {
  color: white;
  line-height: 1.75rem;
  padding: 0 0.5rem;
}
header a:hover,
header a:visited,
header .current a {
  color: white;
}

/* Code Boxes */
pre {
  border: 2px solid var(--cyan);
  padding: 1em;
  overflow-x: auto;
  border-radius: 8px;
}

code {
  font-family: 'Fira Code', monospace;
}

pre code {
  background: none;
}

/* Images, tables, misc. */
img,
iframe,
video {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  hyphens: auto;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7em;
  hyphens: auto;
  display: block;
  font-size: 1.1em;
}
main a {
  font-weight: bold;
}

blockquote {
  border-left: 5px solid var(--light-brown);
  padding: 3px 1em 3px;
}


.content-wrapper {
  padding: 0px 12px 0px 12px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
#partywizard {
  min-width: 40px;
  float: right;
  padding: 10px;
  display: block;
}
