{{ define "head" }}
{{ with resources.Get "css/list.css" | postCSS | minify }}
  <link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}
{{ end }}

{{ define "main" }}
<main id="main" class="archive">
  {{ if .Site.Params.enableDuckDuckGoSearchBox }}
  <div id="searchbox">
    <form method="get" id="ddgSearch" target="_blank" action="https://duckduckgo.com/">
        <input type="hidden" name="sites" value="{{ .Site.BaseURL }}"/>
        <input type="hidden" name="kf" value="-1"> <!-- no favicons -->
        <input type="hidden" name="kh" value="1"> <!-- https -->
        <input type="hidden" name="kae" value="-1" > <!-- default theme -->
        <input type="hidden" name="k1" value="-1" > <!-- no ads -->
        <input type="text" name="q" placeholder="Search…" aria-label="Search michaelneuper.com on DuckDuckGo"/>
    </form>
  </div>
  {{ end }}  
  {{ $pages := where .Data.Pages "Type" "posts" }}
  {{ range $pages.GroupByDate "2006-01" }}
  <div class="post-group">
    <h3>{{ dateFormat "January 2006" (printf "%s-01" .Key) }}</h3>
    <ul>
      {{ range .Pages }}
      <li>
        <a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time>{{ .PublishDate.Format .Site.Params.dateFormat }}</time>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  <div class="post-group">
    <h3>...</h3>
  </div>
</main>
{{ end }}
