{{ partial "header.html" . }}

<div class="content-wrapper">
{{if not .IsHome }}
  <h1>{{ .Title | markdownify }}</h1>
  {{ end }}

  {{ .Content }}

  <ul>
    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = first 5 .Site.RegularPages }}{{ end }}
    {{ range (where $pages "Section" "!=" "") }}
    <li>
      <span class="date">{{ .Date.Format "2006 Jan 02" }}</span> - 
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
    </ul>
    {{ if .IsHome }}
      <a href="/posts/">See All</a>
    {{ end }}
</div>
{{ partial "footer.html" . }}
