{{ define "main" }}
<main id="main">
    <h2>
        <span class="icon">
            <object type='image/svg+xml' data='/images/icons/tags.svg'></object>
        </span>
        Tags
    </h2>
    <br style="margin-bottom: 10px"></br>
    <div class="row">
        {{ range .Data.Terms.ByCount }}
        <ul>
            <li><a class="title is-5 is-size-6-mobile" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                {{ $Totalpage:= len .Pages }}
                {{ $Totalpage }} post{{ if ne $Totalpage 1 }}s{{ end }}
            </li>
        </ul>
    {{ end }}
  </div>
</main>
{{ end }}