{{ define "head" }}
<link rel="stylesheet" href='{{ "css/index.css" | absURL }}'>
{{ end }}

{{ define "main" }}
<main class="grid-container">
    <div id="content" class="index">
        <!-- Content goes here -->
        {{ with .Site.GetPage "_index.md" }}
            {{ .Content }}
        {{ end }}
    </div>

    <div class="sidebar">
        <h3>Categories</h3>
        <ul class="nav-list sidenav">
            {{ partial "categories.html" . }}
        </ul>
        <p></p>
        <h3>Tags</h3>
        <ul class="nav-list sidenav">
            {{ partial "tags.html" . }}
        </ul>
    </div>
</main>
{{ end }}
