{{ define "head" }}
{{ with resources.Get "css/index.css" | postCSS | minify }}
  <link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}
{{ end }}

{{ define "main" }}
<main class="grid-container">
    <div id="content" class="index">
        {{ with .Site.GetPage "_index.md" }}
            {{ .Content }}
        {{ end }}
    </div>

    <div class="sidebar">
        {{ if .Site.Taxonomies.categories }}
        <h3 class="taxonomy">
            <span class="icon">
                <object type='image/svg+xml' data='/images/icons/categories.svg'></object>
            </span>
            <a href="/categories/">Categories</a>
        </h3>
        <ul class="nav-list sidenav">
            {{range first 10 ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
            <li>
                <a href="{{ .Permalink }}">{{.Title}}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ if .Site.Taxonomies.tags }}
        <p></p>
        <h3 class="taxonomy">
            <span class="icon">
                <object type='image/svg+xml' data='/images/icons/tags.svg'></object>
            </span>
            <a href="/tags/">Tags</a>
        </h3>
        <ul class="nav-list sidenav">
            {{range first 10 ($.Site.GetPage "taxonomyTerm" "tags").Pages }}
            <li>
                <a href="{{ .Permalink }}">{{.Title}}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</main>
{{ end }}
